In [98]:
# import dependencies
import pandas as pd
from pycountry import countries
from pycountry_convert import (country_name_to_country_alpha3)

In [2]:
# import the data
filtered_df = pd.read_csv('Suicide_Rates.csv')
# View Data
filtered_df.head(10)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X

In [3]:
# Data Types
filtered_df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [12]:
# change countries and year data types to string
filtered_df['country'] = filtered_df['country'].astype(str)
filtered_df['year'] = filtered_df['year'].astype(int)

filtered_df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
dtype: object

In [5]:
filtered_df = filtered_df.drop("HDI for year", axis=1)
filtered_df = filtered_df.drop("generation", axis=1)

In [6]:
filtered_df.dtypes

country                object
year                   object
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
dtype: object

In [7]:
# Remove 'years' suffixes by replacing with and empty string
filtered_df['age'] = filtered_df['age'].str.replace('years', '')

In [13]:
# Filter 1990-2020
filtered_df = filtered_df.loc[(filtered_df['year'] >= 1990) & (filtered_df['year'] <= 2020)]
filtered_df.head()
print(filtered_df)

          country  year     sex     age  suicides_no  population  \
36        Albania  1992    male  35-54            12      343800
37        Albania  1992    male  15-24             9      263700
38        Albania  1992    male  55-74             5      159500
39        Albania  1992    male  25-34             7      245500
40        Albania  1992  female  15-24             7      292400
...           ...   ...     ...     ...          ...         ...
27815  Uzbekistan  2014  female  35-54           107     3620833
27816  Uzbekistan  2014  female    75+             9      348465
27817  Uzbekistan  2014    male   5-14            60     2762158
27818  Uzbekistan  2014  female   5-14            44     2631600
27819  Uzbekistan  2014  female  55-74            21     1438935

       suicides/100k pop    country-year  gdp_for_year ($)   \
36                  3.49     Albania1992        709,452,584
37                  3.41     Albania1992        709,452,584
38                  3.13     Albania1992        709,452,584
39                  2.85     Albania1992        709,452,584
40                  2.39     Albania1992        709,452,584
...                  ...             ...                ...
27815               2.96  Uzbekistan2014     63,067,077,179
27816               2.58  Uzbekistan2014     63,067,077,179
27817               2.17  Uzbekistan2014     63,067,077,179
27818               1.67  Uzbekistan2014     63,067,077,179
27819               1.46  Uzbekistan2014     63,067,077,179

       gdp_per_capita ($)
36                    251
37                    251
38                    251
39                    251
40                    251
...                   ...
27815                2309
27816                2309
27817                2309
27818                2309
27819                2309

[24808 rows x 10 columns]

In [126]:
filtered_df = filtered_df.loc[(filtered_df['country'] == 'United States') |  (filtered_df['country'] == 'France') |  (filtered_df['country'] == 'Mexico') |  (filtered_df['country'] == 'Germany') | (filtered_df['country'] == 'Brazil') |  (filtered_df['country'] == 'Canada') |  (filtered_df['country'] == 'Japan')]
filtered_df

,LocationTime,Location,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($)
4232,BRA-1990,BRA,Brazil,1990,male,75+,151,689024,21.92,"461,951,782,000",3516
4233,BRA-1990,BRA,Brazil,1990,male,55-74,601,5570146,10.79,"461,951,782,000",3516
4234,BRA-1990,BRA,Brazil,1990,male,35-54,1127,14165486,7.96,"461,951,782,000",3516
4235,BRA-1990,BRA,Brazil,1990,male,25-34,945,12198761,7.75,"461,951,782,000",3516
4236,BRA-1990,BRA,Brazil,1990,male,15-24,731,14568361,5.02,"461,951,782,000",3516
...,...,...,...,...,...,...,...,...,...,...,...
27215,-2015,,United States,2015,female,25-34,1444,21555712,6.70,"18,120,714,000,000",60387
27216,-2015,,United States,2015,female,15-24,1132,21633813,5.23,"18,120,714,000,000",60387
27217,-2015,,United States,2015,female,75+,540,11778666,4.58,"18,120,714,000,000",60387
27218,-2015,,United States,2015,male,5-14,255,21273987,1.20,"18,120,714,000,000",60387
27219,-2015,,United States,2015,female,5-14,158,20342901,0.78,"18,120,714,000,000",60387

In [137]:
abreviation_df = filtered_df['Location'] = filtered_df['country'].str[:3]
#abreviation_df
filtered_df

/Users/yashberawala/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,LocationTime,Location,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($)
4232,BRA-1990,Bra,Brazil,1990,male,75+,151,689024,21.92,"461,951,782,000",3516
4233,BRA-1990,Bra,Brazil,1990,male,55-74,601,5570146,10.79,"461,951,782,000",3516
4234,BRA-1990,Bra,Brazil,1990,male,35-54,1127,14165486,7.96,"461,951,782,000",3516
4235,BRA-1990,Bra,Brazil,1990,male,25-34,945,12198761,7.75,"461,951,782,000",3516
4236,BRA-1990,Bra,Brazil,1990,male,15-24,731,14568361,5.02,"461,951,782,000",3516
...,...,...,...,...,...,...,...,...,...,...,...
27215,-2015,Uni,United States,2015,female,25-34,1444,21555712,6.70,"18,120,714,000,000",60387
27216,-2015,Uni,United States,2015,female,15-24,1132,21633813,5.23,"18,120,714,000,000",60387
27217,-2015,Uni,United States,2015,female,75+,540,11778666,4.58,"18,120,714,000,000",60387
27218,-2015,Uni,United States,2015,male,5-14,255,21273987,1.20,"18,120,714,000,000",60387
27219,-2015,Uni,United States,2015,female,5-14,158,20342901,0.78,"18,120,714,000,000",60387

In [142]:
filtered_df['Location'] = ""
# Iterate through the rows of the DataFrame
#if len(row["country_code"]) != 3:
#       alpha_3 = country_name_to_country_alpha3(row["country"])
#        df.at[i, 'country_code'] = alpha_3

for i, row in filtered_df.iterrows():
    # Get the country name
    country_name = row['country']
    # Get the country object from pycountry library
    country = pycountry.countries.get(name=country_name)
    # Get the 3 letter alpha_3 code
    Location = country.alpha_3
    # Update the abbreviation column for the current row
    filtered_df.at[i, 'Location'] = Location

In [139]:
filtered_df

,LocationTime,Location,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($)
4232,BRA-1990,BRA,Brazil,1990,male,75+,151,689024,21.92,"461,951,782,000",3516
4233,BRA-1990,BRA,Brazil,1990,male,55-74,601,5570146,10.79,"461,951,782,000",3516
4234,BRA-1990,BRA,Brazil,1990,male,35-54,1127,14165486,7.96,"461,951,782,000",3516
4235,BRA-1990,BRA,Brazil,1990,male,25-34,945,12198761,7.75,"461,951,782,000",3516
4236,BRA-1990,BRA,Brazil,1990,male,15-24,731,14568361,5.02,"461,951,782,000",3516
...,...,...,...,...,...,...,...,...,...,...,...
27215,-2015,USA,United States,2015,female,25-34,1444,21555712,6.70,"18,120,714,000,000",60387
27216,-2015,USA,United States,2015,female,15-24,1132,21633813,5.23,"18,120,714,000,000",60387
27217,-2015,USA,United States,2015,female,75+,540,11778666,4.58,"18,120,714,000,000",60387
27218,-2015,USA,United States,2015,male,5-14,255,21273987,1.20,"18,120,714,000,000",60387
27219,-2015,USA,United States,2015,female,5-14,158,20342901,0.78,"18,120,714,000,000",60387

In [ ]:

#Loca

In [143]:
#filtered_df = filtered_df.drop("abbreviation", axis=1)
filtered_df['year'] = filtered_df['year'].astype(str)
filtered_df["LocationTime"] = filtered_df[["Location", "year"]].apply("-".join, axis=1)
pd.DataFrame=filtered_df
filtered_df.head()
filtered_df.head(10)

/Users/yashberawala/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/yashberawala/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,LocationTime,Location,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($)
4232,BRA-1990,BRA,Brazil,1990,male,75+,151,689024,21.92,"461,951,782,000",3516
4233,BRA-1990,BRA,Brazil,1990,male,55-74,601,5570146,10.79,"461,951,782,000",3516
4234,BRA-1990,BRA,Brazil,1990,male,35-54,1127,14165486,7.96,"461,951,782,000",3516
4235,BRA-1990,BRA,Brazil,1990,male,25-34,945,12198761,7.75,"461,951,782,000",3516
4236,BRA-1990,BRA,Brazil,1990,male,15-24,731,14568361,5.02,"461,951,782,000",3516
4237,BRA-1990,BRA,Brazil,1990,female,75+,38,1117615,3.40,"461,951,782,000",3516
4238,BRA-1990,BRA,Brazil,1990,female,55-74,196,6431086,3.05,"461,951,782,000",3516
4239,BRA-1990,BRA,Brazil,1990,female,35-54,394,14711203,2.68,"461,951,782,000",3516
4240,BRA-1990,BRA,Brazil,1990,female,15-24,304,14548740,2.09,"461,951,782,000",3516
4241,BRA-1990,BRA,Brazil,1990,female,25-34,250,12392001,2.02,"461,951,782,000",3516

In [144]:
# shift column 'LocationTime to first column
fist_column = filtered_df.pop('LocationTime')
second_column = filtered_df.pop('Location')
filtered_df.insert(0, 'LocationTime', fist_column)
filtered_df.insert(1, 'Location', second_column)

suicide_clean_df = filtered_df
filtered_df

,LocationTime,Location,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($)
4232,BRA-1990,BRA,Brazil,1990,male,75+,151,689024,21.92,"461,951,782,000",3516
4233,BRA-1990,BRA,Brazil,1990,male,55-74,601,5570146,10.79,"461,951,782,000",3516
4234,BRA-1990,BRA,Brazil,1990,male,35-54,1127,14165486,7.96,"461,951,782,000",3516
4235,BRA-1990,BRA,Brazil,1990,male,25-34,945,12198761,7.75,"461,951,782,000",3516
4236,BRA-1990,BRA,Brazil,1990,male,15-24,731,14568361,5.02,"461,951,782,000",3516
...,...,...,...,...,...,...,...,...,...,...,...
27215,USA-2015,USA,United States,2015,female,25-34,1444,21555712,6.70,"18,120,714,000,000",60387
27216,USA-2015,USA,United States,2015,female,15-24,1132,21633813,5.23,"18,120,714,000,000",60387
27217,USA-2015,USA,United States,2015,female,75+,540,11778666,4.58,"18,120,714,000,000",60387
27218,USA-2015,USA,United States,2015,male,5-14,255,21273987,1.20,"18,120,714,000,000",60387
27219,USA-2015,USA,United States,2015,female,5-14,158,20342901,0.78,"18,120,714,000,000",60387

In [145]:
suicide_clean_df.to_csv("suicide_clean.csv", index=False)

In [146]:
suicide_clean_df.dtypes

LocationTime           object
Location               object
country                object
year                   object
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
dtype: object